{% extends 'base.html.twig' %}

{% block title %}Affecte un Materiel!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <div class="relative mb-3">
        <div class="absolute inset-0 flex items-center" aria-hidden="true">
            <div class="w-full border-t border-gray-300"></div>
        </div>
        <div class="relative flex justify-center">
            <span class="px-2 bg-white text-sm text-gray-500">
              Affecté un  Matériel
            </span>
        </div>
    </div>
    {{ include("ready/_form.html.twig") }}
</div>
{% endblock %}
