{% extends 'base.html.twig' %}

{% block title %}Confiscation index{% endblock %}

{% block body %}
    <h1 class='text-3xl font'>Liste matériel </h1>
    <div class="md:grid md:grid-cols-5 gap-4">
        <div class="col-start-1 md:col-end-3 lg:col-end-2 col-end-2 mb-3 bg-white overflow-hidden shadow rounded-lg  ">
            <div class="px-4 py-5 sm:p-6">
                {{ include("confiscation/search/_form.html.twig",{form}) }}
            </div>

        </div>

        <div class="flex flex-col mb-4 col-start-2 md:col-start-3 lg:col-start-2 col-end-6">
            <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                    <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                        <table class="min-w-full divide-y divide-gray-200">
                            {{ include("confiscation/table/_thead.html.twig",{confiscations}) }}
                            <tbody class="bg-gray-50">
                            {% for confiscation in confiscations %}
                                {{ include("confiscation/table/_body.html.twig",{confiscation}) }}
                            {% else %}
                                <tr>
                                    <td colspan="8">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>


                    </div>

                </div>
            </div>
            <div>
                {{ knp_pagination_render(confiscations) }}
            </div>
        </div>
    </div>

{% endblock %}
