{% extends 'base.html.twig' %}

{% block title %}New Confiscation{% endblock %}

{% block body %}
    <div class="relative mb-4">
        <div class="absolute inset-0 flex items-center" aria-hidden="true">
            <div class="w-full border-t border-gray-600"></div>
        </div>
        <div class="relative flex justify-start">
    <span class="pr-3 bg-gray-200 text-4xl font-medium text-gray-600">
      Ajouter des Materiel
    </span>
        </div>
    </div>


    <div >
        <div class="flex flex-wrap">
            <div class="w-full">
                {{ form_start(form) }}
                {{ include('confiscation/_form.html.twig',{form: form}) }}

                {{ form_end(form, {render_rest: false}) }}
            </div>

        </div>

    </div>


{% endblock %}
